img{
  
  height: 200px;
  width: 150px;
  
}
.banner{
  float: right;
}
.intro{
  float: left;
  text-align: center;
  
  padding: 10px;
  margin-top: 40px;
  
}
/* .h3{
  float: left;
  font-size: 50px;
} */
.demo{
  color: blue;
  font-style: italic;
}
.demo:hover {
  background-color: rgb(154, 178, 197);
}
h6{
  font-family: sans-serif;
  font-size: 15px;
}